# Data Configuration
SOURCE_DATA_DIR=/home/quangnhvn34/fsoft/detect/data_logo
OUTPUT_DATA_DIR=/home/quangnhvn34/fsoft/detect/yolo_dataset

# Model Configuration
MODEL_CHECKPOINT=best.pt
TRAIN_PROJECT=yolo11/checkpoints
TRAIN_NAME=yolo11n_logo_seg

# Training Parameters
EPOCHS=100
IMGSZ=640
BATCH=16
DEVICE=0
